= form_tag sessions_path do
  %div.field
    = label_tag :username
    = text_field_tag :username, params[:username]
  %div.field
    = label_tag :email
    = text_field_tag :email, params[:email]
  %div.field
    = label_tag :password
    = password_field_tag :password
  %div.field
    = check_box_tag :remember_me, 1, params[:remember_me]
    = label_tag :remember_me
  %div.actions
    = submit_tag "Log in"
- end